<span class="intro">
    <h1 itemprop="name" itemscope >Bonjour  ;</h1>
</span>

<span class="desc">
    <p><strong>Currently this website is under construction.</strong></p>

   <p itemprop="name" itemscope >Sed ut perspiciatis unde omnis iste natus error sit <b>voluptatem</b> accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto <b>beatae</b> vitae dicta sunt explicabo.</p>

    <p itemprop="name">Nemo enim ipsam <b>voluptatem</b> quia voluptas sit aspernatur aut odit aut fugit, sed quia <b>consequuntur</b> magni dolores eos qui</p>
</span>

<span class="footer">

<h2>Presented In ;</h2>
    <ul class="list-inline">
        <li><a property="Social"   href="https://twitter.com/saman2ny" target="_blank" rel="noopner">Twitter</a></li><br class="hidden-md hidden-sm hidden-lg hidden-xl"/>
        <li><a property="Social"   href="https://github.com/saman2ny" target="_blank" rel="noopner">Github</a></li>
        <li><a property="Company"  href="http://promo.works/" target="_blank" rel="noopner">Promoworks</a></li>
        <li><a property="Company"  href="http://novelsoft.net/" target="_blank" rel="noopner">Novelsoft</a></li><br class="hidden-md hidden-sm hidden-lg hidden-xl"/>
        <li><a property="Social"   href="mailto:saman2ny@outlook.com">E-mail</a></li>
    </ul>

</span>